page-bosses 
{
    .backgroundImage
    {
        background-image: url("http://bnetcmsus-a.akamaihd.net/cms/template_resource/JPKVVF0I2ZBB1461617074269.jpg");
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
        border: 1px solid #504137;
      }
    .container:hover 
    {
        border: 1px solid #f8b706;
    }
      
      .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
      }
      
      .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 2em;
      }
      
      .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 2em;
      }
      
      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
      }
      
      .centered {
        position: absolute;
        bottom: -73px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        background: #211510;
        border-top: 1px solid #504137;
        width: 99.7%;
        height: 24%;
      }

      .textCentered {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        width: 100%;
      }

      .descriptionCentered {
        position: absolute;
        bottom: -39px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.9em;
        width: 100%;
        height: 15%;
      }

      .image
      {
        width: 100%;
        height: 100%;
        content: url("https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg");
      }

      .nameFont
      {
        font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
      }

      .tameable
      {
        color: green;
      }

      .level
      {
        color: #cdc911;
      }

      .nonTameable
      {
        color: red;
      }


}
